In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

payroll = pd.read_csv('data/company_a_payroll.csv')

In [3]:
# IRC Thank You Notes are number of thank yous sent over chat client
# Managerial Assessment is negative if not meeting expectations
# Gender Values 0=Female, 1=Male

payroll.head()

   Salary  Bonus  IRC Thank You Notes  Managerial Assessment  Gender
0   85000    948                  134                  -0.25       1
1   91000   1878                  223                  -0.25       1
2   95000   7353                  239                   0.38       0
3   95000   4167                   72                  -0.40       1
4   74000   8017                  172                  -0.46       0

In [ ]:
# TODO what impact does Gender have on Salary and Bonus?